ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.month {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    width: 100%;
    font-size: 2rem;
}

.calendar {
    width: 60rem;
    /* height: 30rem; */
    /* background: whitesmoke; */
}

.weekday {
    text-align: center;
}

.days {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid;
}

.days35 {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.days42 {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.weekdays {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.today {
    background: radial-gradient(transparent 80%, yellowgreen 100%);
}

.unavailable {
    /* background: darkgreen; */
}

.cell {
    border: 1px solid;
    min-height: 7rem;
    max-height: 7rem;
    padding: 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.completed {
    text-decoration: line-through;
}
