.tasklist {
    width: 100%;
    border-radius: 2rem;
    color: greenyellow;
}

.title {
    font-size: 2rem;
    color: whitesmoke;
}

.addtask {
    width: 3rem;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    /* margin-bottom: 1rem; */

    background-color: transparent;
    border: solid;
    border-radius: 50%;
    border-color: whitesmoke;
    box-shadow: none;
    outline: none;
}

.plus {
    --b: 0.4rem; /* the thickness*/
    --c: #0000 90deg, yellowgreen 0; /* the coloration */
    width: 2rem; /* the size */
    aspect-ratio: 1;
    background: conic-gradient(from 90deg at var(--b) var(--b), var(--c))
        calc(100% + var(--b) / 2) calc(100% + var(--b) / 2) /
        calc(50% + var(--b)) calc(50% + var(--b));
}
